@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  color: white;
}

body {
  background-color: black;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 961px) {
  body {
    padding: 0 80px;
  }
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 20px;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo_box {
  width: 72.5px;
  height: 72.5px;
  border: 3px solid white;
}

#logo_name {
  margin-left: 17px;
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: black;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
}

#logo_name_1 {
  color: #FCB852;
}

a {
  text-decoration: none;
}

nav {
  position: relative;
  width: 395px;
  font-style: normal;
  left: 50%;
  transform: translate(-65%, 0%);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.29px;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin-left: 20px;
  list-style-type: none;
}

#nav_li_1 {
  margin-left: 0;
}

#user_purchases {
  position: relative;
  border: 1px solid white;
  border-radius: 13px;
  width: 117px;
  height: 27px;
  left: 60%;
}

#quantity {
  position: relative;
  background-color: red;
  height: 22px;
  width: 22px;
  border-radius: 11px;
  top: 2px;
  left: 2px;
  text-align: center;
}

#total {
  position: relative;
  top: -18px;
  left: 15px;
  text-align: center;
}

.mid_title {
  text-align: center;
}

.frequent-orders {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  margin-top: 15px;
}
.frequent-orders__title {
  grid-column: 1/-1;
  margin: 50px 0;
  font-size: 20px;
  font-weight: 500;
}
.frequent-orders__item {
  text-align: center;
  margin: 25px 15px;
}
.frequent-orders__item > * {
  margin: 9px 0;
}
.frequent-orders__item__image {
  max-width: 295px;
}
.frequent-orders__item__name {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
}
.frequent-orders__item__weight {
  font-size: 13px;
  font-weight: 500;
  opacity: 40%;
}
.frequent-orders__item__button {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  height: 65px;
  font-size: 16px;
  border-radius: 99px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid transparent;
  transition-duration: 150ms;
}
.frequent-orders__item__button:hover, .frequent-orders__item__button.added {
  border-color: white;
}
.frequent-orders__item__button > img {
  vertical-align: sub;
  margin: 0 6px;
}
.frequent-orders__item__button b {
  font-weight: 600;
}

#check_icon {
  opacity: 100;
  left: 50%;
  top: 50%;
  transform: translate(-10%, 0%);
}

.swiper {
  border-radius: 24px;
}
.swiper-slide {
  height: 500px;
  display: flex;
  justify-content: center;
  user-select: none;
  overflow: hidden;
  background-color: #222;
  background-image: url("../assets/yumbox_big.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  border-radius: 24px;
}
.swiper-slide__image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.swiper-slide__description {
  position: absolute;
  color: #FCB852;
  display: flex;
  align-items: center;
  height: fit-content;
  margin-bottom: 50px;
  bottom: 0;
  text-transform: uppercase;
}
.swiper-slide__description > * {
  margin: 0 7.5px;
}
.swiper-slide__description__name {
  color: inherit;
  font-size: 39px;
  font-weight: 700;
}
.swiper-slide__description__price {
  color: inherit;
  font-size: 23px;
  font-weight: 600;
  border: 3.5px solid #FCB852;
  border-radius: 99px;
  padding: 5px 16px;
}
.swiper-slide__sticker {
  position: absolute;
  top: 0;
  left: 10%;
  padding: 5px 10px;
  border-radius: 0 0 0 24px;
  font-size: 20px;
  font-weight: 600;
}
.swiper-button-prev, .swiper-button-next {
  width: 36px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/arrow.svg");
  transition-duration: 200ms;
}
.swiper-button-prev::after, .swiper-button-next::after {
  content: "";
}
.swiper-button-next {
  rotate: 180deg;
}
.swiper-controls {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.swiper-controls .swiper-button-prev, .swiper-controls .swiper-button-next {
  position: static;
  margin: 0;
  display: block;
  width: 100%;
}
@media (min-width: 961px) {
  .swiper-controls .swiper-button-prev, .swiper-controls .swiper-button-next {
    display: none;
  }
}
.swiper-pagination {
  position: static;
}
.swiper-pagination-bullet {
  background-color: white;
  opacity: 40%;
}
.swiper-pagination-bullet-active {
  opacity: 100%;
}

@media (max-width: 960px) {
  .swiper-slide {
    height: 315px;
    background-image: url("../assets/yumbox_small.svg");
    background-size: auto 70%;
    background-position: center 20%;
  }
  .swiper-slide__image {
    height: 65%;
    top: 10%;
  }
  .swiper-slide__description {
    margin-bottom: 25px;
  }
  .swiper-slide__description__name {
    font-size: 33px;
    font-weight: 600;
  }
  .swiper-slide__description__price {
    font-size: 20px;
    padding: 4px 12px;
  }
  .swiper-slide__sticker {
    display: none;
  }
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
