@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import './variables';

* {
  color: $body-font-color;
}

body {
  position: relative; // для того, щоб відносно нього відображались дочірні елементи
  background-color: black;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  font-family: $font-stack;
  
  @media (min-width: 961px) {
      padding: 0 80px;
  }
}

// скинути дефолтні стилі для списків
ul {
  padding-left: 0;

  & li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
}

//main {
//  max-width: 1440px;
//  padding: 0 80px;
//  margin: 0 auto;
//
//  @media (max-width: 960px) {
//    padding: 0 20px;
//  }
//}

.mid_title{
  text-align: center;
}

@import './header/header';
@import './frequent-orders';

#check_icon{
  opacity: 100;
  left: 50%;
  top: 50%;
  transform: translate(-10%, 0%);
}

@import './swiper';