@import '../variables';

.cart {
    position: fixed;
    right: -150px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    z-index: 1001;
    padding: 30px 30px 0;
    width: 470px;
    background-color: $body-color;
    pointer-events: none;
    opacity: 0;
    transition-duration: 300ms;

    &.opened {
        opacity: 1;
        right: 0;
        pointer-events: visible;
    }

    &__img {
        display: flex;
        justify-content: space-between;
    }

    &__items {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: scroll;
        overflow-x: hidden;
        //height: 100%;
    }

    &__delivery {
        opacity: 1;
        bottom: 0;
        inset-inline-end: 0;

        button{
            cursor: pointer;
        }
    }
    
    &__delivery-inner{
        display: flex;
        justify-content: space-between;
    }

    button {
        background: none;
        border: 0;
    }
}

.cart-item {
    //width: 100%;
    margin-top: 10px;
    background-color: #222222;
    border-radius: 15px;
    //padding: 18px;

    &:first-child {
        margin-top: 0;
    }

    &__name {
        font-size: 18px;
        font-weight: 600;
        line-height: 18px;
        text-align: left;
    }

    &__weight {
        filter: opacity(40%);
        font-size: 13px;
        margin-top: 5px;
        font-weight: 450;
        line-height: 13px;
        text-align: left;
    }

    hr {
        border: 1px solid black;
        background-color: black;
        width: 100%;
        z-index: auto;
        height: 0;
    }

    &__img {
        width: 50px;
        height: 50px;
        border: 10px solid #303030;
        border-radius: 5px;
    }

    button {
        background: none;
        border: 0;
        cursor: pointer;
    }

    .section2 {
        display: flex;
        width: 100%;
        padding: 0 20px;
        justify-content: space-between;
        flex-direction: column;
    }

    .section0,
    .section3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px;
    }

    &__price {
        font-size: 26px;
        margin: 0;
        font-weight: 600;
        line-height: 26px;
    }

    .section4{
        display: flex;
        //align-items: center;
        justify-content: space-between;
        width: 100px;
        height: 33px;
        border: 2px solid white;
        border-radius: 23px;
        & span,
        & button{
            margin: auto;
            display: flex;
            align-items: center;
        }
    }
}



@media (max-width: 960px) {
    .cart {
        left: 0;
        right: 0;
        width: auto;
    }
}