@import '../variables';

.cart{
    position: fixed;
    z-index: 1000;
    padding: 30px;
    width: 470px;
    height: 100%;
    margin: 0;
    background-color: $body-color;
    pointer-events: none;
    opacity: 0;
    transition-duration: 300ms;
    
    &.opened {
        //display: block;
        opacity: 1;
        pointer-events: visible;
    }
}
.cart-item{
    width: 150px;
    margin-top: 10px;
    background-color: grey;
    border-radius: 10px;
    &:first-child{
        margin-top: 0;
    }
    hr{
        color: black;
        width: max-content;
    }

    &__img {
        width: 50px;
        border-radius: 5px;
    }
}

//@media (max-width: 961px) {
//    .cart {
//      &.opened {
//        display: none;
//      }
//    }
//}